{eq name="$Think.session.admin_info.is_admin" value="1"}
<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<meta http-equiv="Cache-Control" content="no-siteapp" />
	<!--[if lt IE 9]>
	<script type="text/javascript" src="/static/admin/lib/html5shiv.js"></script>
	<script type="text/javascript" src="/static/admin/lib/respond.min.js"></script>
	<![endif]-->
	<link rel="stylesheet" type="text/css" href="/static/admin/static/h-ui/css/H-ui.min.css" />
	<link rel="stylesheet" type="text/css" href="/static/admin/static/h-ui.admin/css/H-ui.admin.css" />
	<link rel="stylesheet" type="text/css" href="/static/admin/lib/Hui-iconfont/1.0.8/iconfont.css" />
	<link rel="stylesheet" type="text/css" href="/static/admin/static/h-ui.admin/skin/default/skin.css" id="skin" />
	<link rel="stylesheet" type="text/css" href="/static/admin/static/h-ui.admin/css/style.css" />
	<!--[if IE 6]>
	<script type="text/javascript" src="/static/admin/lib/DD_belatedPNG_0.0.8a-min.js" ></script>
	<script>DD_belatedPNG.fix('*');</script>
	<![endif]-->
	<title>{$title|default="页面标题"}</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 样本信息 <span class="c-gray en">&gt;</span> 样本管理列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
	<div class="text-c">
		日期范围：
		<input type="text" onfocus="WdatePicker({ })" id="logmin" class="input-text Wdate" style="width:120px;">
		-
		<input type="text" onfocus="WdatePicker({ })" id="logmax" class="input-text Wdate" style="width:120px;">
		<input type="text" name=""  placeholder=" 搜索名称" style="width:250px" class="input-text">
		<button name=""  class="btn btn-success" type="submit"><i class="Hui-iconfont">&#xe665;</i> 信息搜索</button>
	</div>
	<div class="cl pd-5 bg-1 bk-gray mt-20">
		<span class="l">
			<a href="javascript:;" onclick="datadel()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a>
			<a href="javascript:;" onclick="admin_add('样本添加','{:url('index/sampleadd')}','800','600')" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 样本添加</a></span>
		<span class="r">共有数据：<strong>{$length|default="0"}</strong> 条</span> </div>
	<div class="mt-20">
		<table class="table table-border table-bordered table-bg table-hover table-sort table-responsive">
			<thead>
			<tr class="text-c">
				<th width="40">ID</th>
				<th width="140">样本编号</th>
				<th width="130">位置编号</th>
				<th width="60">姓名</th>
				<th width="80">样本类型</th>
				<th width="120">存入时间</th>
				<th width="80">实验编号</th>
				<th width="70">Qubit浓度</th>
				<th width="40">体积(ul)</th>
				<th width="90">总量(ng)</th>
				<th width="130">ALU115浓度（ng/ul）</th>
				<th width="130">ALU247浓度（ng/ul）</th>
				<th width="80">ALU247/115</th>
				<th width="100">总量（ng)</th>
				<th width="90">预计浓缩后体积（ul)</th>
				<th width="130">预计浓缩后浓度（ng/ul）</th>
				<th width="80">输入体积(ul)</th>
				<th width="80">输入总量(ng)</th>
				<th width="80">循环数</th>
				<th width="80">文库index</th>
				<th width="150">文库qPCR浓度（nM）</th>
				<th width="90">建库完成日期</th>
				<th width="80">备注</th>
				<th width="60">收录人</th>
				<th width="120">编辑与删除</th>
			</tr>
			</thead>
			<tbody>
			{volist name="xinx" id="ar"}
			<tr class="text-c">
				<td>{$ar.id}</td>
				<td>{$ar.sample_num}</td>
				<td>{$ar.position_num}</td>
				<td>{$ar.name}</td>
				<td>{$ar.sample_type}</td>
				<td>{$ar.save_time}</td>
				<td>{$ar.serial_num}</td>
				<td>{$ar.qubit}</td>
				<td>{$ar.volume}</td>
				<td>{$ar.total}</td>
				<td>{$ar.alu_a}</td>
				<td>{$ar.alu_b}</td>
				<td>{$ar.alu_c}</td>
				<td>{$ar.total_ng}</td>
				<td>{$ar.expect_volume}</td>
				<td>{$ar.expect_qubit}</td>
				<td>{$ar.input_volume}</td>
				<td>{$ar.input_total}</td>
				<td>{$ar.cycle_num}</td>
				<td>{$ar.index}</td>
				<td>{$ar.index_qubit}</td>
				<td>{$ar.complete_date}</td>
				<td>{$ar.note}</td>
				<td class="td-status"><span class="label label-success radius">{$ar.username}</span></td>
				<td class="td-manage">
					<a href="javascript:;" onclick="restore(this,'{$ar.id}','样本编辑','{:url('index/editor')}')" title="编辑"><i class="Hui-iconfont">&#xe631;</i></a>
					<a title="删除" href="javascript:;" onclick="article_del(this,'{$ar.id}')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a>
				</td>
			</tr>
			{/volist}
			</tbody>
		</table>
	</div>
</div>
<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="/static/admin/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="/static/admin/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="/static/admin/static/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="/static/admin/static/h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="/static/admin/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="/static/admin/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/static/admin/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">
    $('.table-sort').dataTable({
        "aaSorting": [[ 1, "desc" ]],//默认第几个排序
        "bStateSave": true,//状态保存
        "pading":false,
        "aoColumnDefs": [
            //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
            {"orderable":false,"aTargets":[0,8]}// 不参与排序的列
        ]
    });
    /*样本信息添加*/
    function admin_add(title,url,w,h){
        layer_show(title,url,w,h);

    }

    /*样本编辑添加*/
    function restore(obj,id,title,url){
        //alert(id);
			layer.open({
                type: 2,
                title: '样本编辑',
                shadeClose: true,
                shade: false,
                maxmin: true, //开启最大化最小化按钮
                area: ['800px', '600px'],
                content: '{:url('index/editor')}?id='+ id,
            })
        }




    /*样本删除*/
    function article_del(obj,id){
        layer.confirm("确认要删除吗？",function(){
            $.ajax({
                type: 'POST',
                url: "{:url('index/sampledele')}",
                data: {id},
                dataType: 'json',
                success: function(data){
                    if(data.status == 1)
                    {
                        $(obj).parents("tr").remove();
						layer.msg(data.mes, {icon: 1, time: 2000});
                    }
                    layer.msg(data.mes, {icon: 1, time: 2000});
                },

            });
        });
    }
</script>
</body>
</html>
{/eq}